/* stylelint-disable no-descending-specificity */

/* stylelint-disable selector-class-pattern */

footer {
    background-color: var(--background-color);
    font-size: var(--body-font-size-s);
}

footer .footer {
    margin: auto;
    padding: 60px 0 0;
    border-top: 1px solid var(--divider-border-color);
}

footer .footer p {
    margin: 0;
}

footer .footer-section:first-of-type {
    padding: 0 32px 60px;
    border-bottom: 1px solid var(--divider-border-color);
}

@media screen and (min-width: 1280px) {
    footer .footer-section:first-of-type {
        padding: 0 60px 60px;
    }
}

footer .footer p:has(a > picture) {
    display: inline-flex;
}

footer .footer a[href*="instagram.com"],
footer .footer a[href*="pinterest.com"] {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: 40px;
    height: 24px;
    width: 24px;
}

footer .footer a[href*="instagram.com"]:hover img,
footer .footer a[href*="pinterest.com"]:hover img {
    opacity: 0;
}

footer .footer a[href*="instagram.com"]:hover {
    background: url("/icons/instagram-hover.svg");
}

footer .footer a[href*="pinterest.com"]:hover {
    background: url("/icons/pinterest-hover.svg");
}

footer br {
    display: none;
}

footer .footer .section:first-child {
    border-top: 1px solid var(--divider-border-color);
    max-width: 100%;
    padding: 3rem 30px 0;
}

@media screen and (min-width: 1280px) {
    footer .footer .section:first-child {
        padding: 3rem 30px 43px;
    }
}

footer .footer .section:last-child .default-content-wrapper {
    border-top: 1px solid var(--divider-border-color);
}

@media screen and (min-width: 1280px) {
    footer .footer .section {
        padding: 3rem 30px 0;
    }
    footer .footer .section:last-child .default-content-wrapper {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 270px 241.47px 1fr;
    }
}

footer .footer-section .default-content-wrapper {
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    footer .footer-section .default-content-wrapper {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 1279px) {
    footer .footer-section .default-content-wrapper {
        flex-direction: column;
        padding: 0;
    }
}

@media screen and (min-width: 1280px) {
    .footer .footer-section:first-of-type .default-content-wrapper .column {
        max-width: 520px;
    }
}

.footer .footer-section:first-of-type .column p:first-of-type {
    font-size: var(--body-font-size-xxs);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0;
    color: var(--color-outer-space);
}

@media screen and (min-width: 1280px) {
    .footer .footer-section:first-of-type .column p:first-of-type {
        font-weight: 600;
    }
}

.footer .footer-section:first-of-type .column p:nth-child(2) {
    padding-top: 10px;
    font-size: var(--body-odd-font-size-xxxs);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
    letter-spacing: .6px;
    color: var(--color-dark-silver);
}

@media screen and (min-width: 1280px) {
    .footer .footer-section:first-of-type .column p:nth-child(2) {
        padding-top: 4px;
        margin-bottom: 20px;
    }
}

.footer .footer-section:first-of-type .column img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.footer .default-content-wrapper .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1.625rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

@media screen and (max-width: 1279px) {
    .footer .default-content-wrapper .list {
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
        width: 100%;
    }
}

.footer .default-content-wrapper .list ul {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

@media screen and (min-width: 1280px) {
    .footer .default-content-wrapper .list ul {
        margin-top: 6px;
    }
}

.footer .default-content-wrapper .list>ul {
    margin: 0 2rem;
}

@media screen and (max-width: 1279px) {
    .footer .default-content-wrapper .list>ul {
        margin: 0;
    }
    .footer .default-content-wrapper .list>ul>li>ul {
        padding-left: 1rem;
    }
    .footer .default-content-wrapper .list>ul>li {
        border-top: 1px solid var(--divider-border-color);
        padding-top: 1rem;
    }
}

.footer .default-content-wrapper .list ul li {
    font-size: var(--body-font-size-xxxs);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    white-space: nowrap;
    text-transform: uppercase;
}

/* stylelint-disable */

.footer .default-content-wrapper .list ul li ul li,
.footer .default-content-wrapper .list ul li ul #ot-sdk-btn.ot-sdk-show-settings,
.footer .default-content-wrapper .list ul li ul #accessibilityWidget {
    white-space: nowrap;
    color: var(--color-dark-silver);
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.footer .default-content-wrapper .list ul li a,
.footer .default-content-wrapper .list ul li #ot-sdk-btn.ot-sdk-show-settings,
.footer .default-content-wrapper .list ul li #ot-sdk-btn.optanon-show-settings,
.footer .default-content-wrapper .list ul li ul #accessibilityWidget {
    color: inherit;
    text-decoration: none;
}

.footer .default-content-wrapper .list ul li #ot-sdk-btn.ot-sdk-show-settings,
.footer .default-content-wrapper .list ul li #ot-sdk-btn.optanon-show-settings,
.footer .default-content-wrapper .list ul li ul #accessibilityWidget {
    border: none;
    background-color: transparent;
    margin-top: 0;
    padding: 0;
}

/* stylelint-enable */

footer .footer .footer-section:last-of-type {
    padding: 32px 32px 40px;
    background: #fff;
}

@media screen and (min-width: 1280px) {
    footer .footer .footer-section:last-of-type {
        padding: 32px 60px 40px;
    }
    footer .footer .footer-section:last-of-type .default-content-wrapper {
        padding: 0;
        max-width: 1400px;
        margin: 0 auto;
    }
}

footer .footer-section:last-of-type .default-content-wrapper {
    max-width: 100%;
    justify-content: flex-start;
}

footer .footer-section:last-of-type .default-content-wrapper p {
    font-size: var(--body-font-size-xxs);
    color: var(--color-dark-silver);
    margin-right: 3rem;
}

@media screen and (min-width: 1280px) {
    footer .footer-section:last-of-type .default-content-wrapper p {
        margin-right: 0;
        max-width: 270px;
        margin-top: 0;
        height: fit-content;
    }
}

footer .footer-section:last-of-type .default-content-wrapper p:first-of-type img {
    width: 270px;
    height: auto;
}

footer .footer-section:last-of-type .default-content-wrapper p:last-of-type {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
}

@media screen and (max-width: 1279px) {
    footer .footer-section:last-of-type .default-content-wrapper p:last-of-type {
        margin-left: 0;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    footer .footer-section:last-of-type .default-content-wrapper p:last-of-type {
        margin-left: 50px;
    }
}

footer .footer-section:last-of-type .default-content-wrapper p:last-of-type span {
    margin: 0 0.5rem;
}

@media screen and (max-width: 1279px) {
    footer .footer-section .default-content-wrapper {
        flex-direction: column;
    }
}

.footer .signup-form {
    margin-bottom: 20px;
}

.footer .signup-form * {
    box-sizing: border-box;
}

.footer .signup-form .form {
    align-items: flex-start;
    display: flex;
    gap: 6px;
}

.footer .signup-form .field {
    width: 100%;
}

.footer .signup-form:has(.error-message) input[type="email"] {
    border-color: var(--color-red-pigment);
}

.footer .signup-form input[type="email"],
.footer .signup-form button[type="submit"] {
    height: 40px;
}

.footer .signup-form label span {
    font-size: var(--body-font-size-xxs);
    color: var(--color-outer-space);
    letter-spacing: 1.2px;
}

.footer .signup-form label span::after {
    content: "*";
    color: var(--color-red-pigment);
}

.footer .signup-form input[type="email"] {
    border: 1px solid var(--color-chinese-silver);
    display: block;
    font-family: inherit;
    font-size: var(--body-font-size-xxs);
    padding: 13px;
    width: 100%;
}

.footer .signup-form button[type="submit"] {
    background-color: var(--color-outer-space);
    border: 0;
    font-size: var(--body-font-size-xxxs);
    color: var(--color-white);
    margin: 28.5px 0 0;
    padding: 9px 13px;
    text-transform: uppercase;
    width: 100px;
}

.footer .signup-form .error-message {
    font-size: var(--body-font-size-xxs);
    color: var(--color-persian-red);
    padding: 4px 0;
}

.footer .subscribe-msg {
    align-items: center;
    border: 1px solid;
    font-size: var(--body-font-size-xxs);
    margin-bottom: 20px;
    padding: 15px;
}

.footer .subscribe-msg::before {
    margin-right: 8px;
    transform: scale(0.8) translateY(3px);
}

.footer .subscribe-msg.success {
    background-color: rgb(5 104 8 / 10%);
    border-color: var(--color-deep-green);
    color: var(--color-deep-green);
}

.footer .subscribe-msg.success::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.25 8.891l-1.421-1.409-6.105 6.218-3.078-2.937-1.396 1.436 4.5 4.319 7.5-7.627z' fill='%23056808'/%3E%3C/svg%3E");
}

.footer .subscribe-msg.error {
    background-color: rgb(203 50 50 / 10%);
    border-color: var(--color-persian-red);
    color: var(--color-persian-red);
}

.footer .subscribe-msg.error::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M16.142 2l5.858 5.858v8.284l-5.858 5.858h-8.284l-5.858-5.858v-8.284l5.858-5.858h8.284zm.829-2h-9.942l-7.029 7.029v9.941l7.029 7.03h9.941l7.03-7.029v-9.942l-7.029-7.029zm-8.482 16.992l3.518-3.568 3.554 3.521 1.431-1.43-3.566-3.523 3.535-3.568-1.431-1.432-3.539 3.583-3.581-3.457-1.418 1.418 3.585 3.473-3.507 3.566 1.419 1.417z' fill='%23cb3232'/%3E%3C/svg%3E");
}

.locations-dropdown.footer {
    position: relative;
    margin: 20px 0 40px;
}

@media screen and (min-width: 1280px) {
    .locations-dropdown.footer {
        display: flex;
        flex-direction: row;
        grid-area: 1 / 3 / 2 / 4;
        margin: 0 0 0 auto;
        height: fit-content;
    }
}

.locations-dropdown.footer span {
    background: unset;
    font-size: var(--body-font-size-xxs);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-dark-silver);
    padding: 0;
}

.locations-dropdown.footer>span {
    cursor: pointer;
}

.locations-dropdown.footer ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.locations-dropdown.footer ul li {
    padding: 0;
    margin-bottom: 6px;
}

.locations-dropdown.footer ul li a {
    text-decoration: unset;
}

.locations-dropdown.footer ul li a:hover {
    text-decoration: underline;
    color: var(--color-outer-space);
}

.locations-dropdown.footer ul li a:visited {
    color: var(--color-outer-space);
}

.locations-dropdown.footer span.toggle.flag::before {
    display: inline-block;
    height: 15px;
    width: 26px;
    background-size: cover;
    content: '';
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.locations-dropdown.footer span.toggle.flag.flagUK::before {
    background-image: url("/aem/images/united-kingdom-flag.jpg");
}

.locations-dropdown.footer span.toggle.flag.flagUS::before {
    background-image: url("/aem/images/united-states-of-america-flag.jpg");
}

.locations-dropdown.footer span.toggle.flag.flagEU::before {
    background-image: url("/aem/images/europe-flag.jpg");
}

.locations-dropdown.footer span.toggle.flag.flagCA::before {
    background-image: url("/aem/images/canada-flag.jpg");
}

.locations-dropdown.footer ul.dropdown .flag {
    display: inline-block;
    height: 15px;
    width: 26px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.locations-dropdown.footer ul.dropdown .flag.flagUS {
    background: url("/aem/images/united-states-of-america-flag.jpg");
    background-size: cover;
}

.locations-dropdown.footer ul.dropdown .flag.flagUK {
    background: url("/aem/images/united-kingdom-flag.jpg");
    background-size: cover;
}

.locations-dropdown.footer ul.dropdown .flag.flagCA {
    background: url("/aem/images/canada-flag.jpg");
    background-size: cover;
}

.locations-dropdown.footer ul.dropdown .flag.flagEU {
    background: url("/aem/images/europe-flag.jpg");
    background-size: cover;
}

.locations-dropdown.footer span.toggle::after {
    content: '';
    background: url("/icons/caret-open.svg");
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    left: 5px;
    margin-left: 5px;
}

.locations-dropdown.footer.active ul.dropdown {
    position: absolute;
    margin-top: 10px;
    top: -138px;
    width: 190px;
    right: auto;
    display: block;
    background: var(--color-white);
    border: 1px solid #c3c3c3;
    padding: 10px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 15%);
}

@media screen and (min-width: 1280px) {
    .locations-dropdown.footer.active ul.dropdown {
        right: -4px;
    }
}

span.action.toggle.flag.active::after {
    content: '';
    background: url("/icons/caret-close.svg");
    width: 16px;
    height: 16px;
    display: inline-block;
}

/* Footer accordion styles */

.footer-accordion-content-wrapper {
    overflow: hidden;
    height: 0;
    margin: 0;
    visibility: hidden;
    box-sizing: border-box;
    transition: height .5s ease, visibility 0s .5s linear, padding .75s ease;
    padding: 0;
    border-bottom: 1px solid var(--color-platinum);
}

.footer-accordion-content-wrapper.active {
    transition: height .5s ease, padding .75s ease;
    visibility: visible;
    padding: 20px 0;
}

.footer-accordion-content {
    margin: 0;
    padding: 0;
}

.footer-accordion-content li a,
.footer-accordion-content li button#ot-sdk-btn.ot-sdk-show-settings {
    font-size: var(--body-font-size-xxxs);
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 0 !important;
    line-height: 2.4rem;
    color: var(--color-outer-space);
}

/* stylelint-disable */

.footer-accordion-content li a,
.footer-accordion-content li button#accessibilityWidget {
    font-size: var(--body-font-size-xxxs);
    font-weight: 400;
    text-transform: uppercase;
    padding: 4px 0 8px !important;
    line-height: 2.4rem;
    color: var(--color-outer-space);
}

@media screen and (min-width: 1280px) {
    .footer-accordion-content li a,
    .footer-accordion-content li button#ot-sdk-btn.ot-sdk-show-settings,
    .footer-accordion-content li button#accessibilityWidget {
        font-size: var(--body-odd-font-size-xxxs);
        letter-spacing: .25px;
    }
}

/* stylelint-enable */

.footer-accordion-content>li>ul {
    padding-left: 20px;
    margin: 0;
}

/* special "sale" list item */

.footer-accordion-content>li>ul:not(:has(li:nth-child(2))) {
    padding: 0;
    margin: 20px 0 0;
}

.footer-accordion-content-wrapper img {
    display: none;
}

@media screen and (min-width: 1280px) {
    .footer-accordion-content-wrapper img {
        display: inline;
        max-width: 100%;
        height: auto;
    }
    .footer-accordion-content-wrapper .nav-feature img {
        width: auto;
        max-height: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .footer-accordion-content-wrapper,
    .footer-accordion-content-wrapper.active {
        position: absolute;
        top: 46px;
        left: 0;
        width: 100%;
        height: auto;
        background: white;
        padding: 0 30px;
        display: flex;
        justify-content: center;
    }
    .footer-accordion-content-wrapper {
        opacity: 1;
        visibility: visible;
    }
    .footer-accordion-content-inner-wrapper {
        display: flex;
        max-width: 1600px;
        justify-content: center;
        width: 100%;
    }
    .footer-accordion-content-with-feature {
        padding: 30px 30px 30px 0;
        min-width: 220px;
    }
    /* Designers */
    .footer-accordion-content:not(.footer-accordion-content-with-feature,
    .footer-accordion-content-with-fragment) {
        padding: 40px 50px;
        min-width: 100%;
        columns: 4;
    }
    .nav-feature {
        padding: 30px 0;
        width: 80%;
    }
}

.footer-accordion-link-wrapper {
    width: 100%;
    display: flex;
    text-decoration: unset;
    background: none;
    border: 0;
    border-bottom: 1px solid var(--color-platinum);
    margin: 0;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    color: var(--color-outer-space);
    cursor: pointer;
}

.footer-accordion-link-wrapper a {
    padding: 16px 0 12px;
    font-weight: 500;
    font-size: var(--body-odd-font-size-xxs);
    line-height: 20px;
    color: var(--color-outer-space) !important;
    letter-spacing: .7px;
    text-transform: uppercase;
    width: 100%;
}

.footer-accordion-link-wrapper,
.footer-accordion-content-wrapper {
    border-bottom: none;
}

@media screen and (min-width: 1280px) {
    .footer-accordion-link-wrapper {
        display: inline;
        text-decoration: unset;
        border-bottom: none;
        font-size: var(--body-font-size-xxxs);
        color: var(--color-outer-space);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
        white-space: nowrap;
        text-transform: uppercase;
        cursor: text;
    }
    .footer-accordion-link-wrapper a {
        padding: 16px 0 12px;
        font-size: var(--body-odd-font-size-xxxs);
    }
}

.footer-accordion-link-wrapper button.footer-accordion-button {
    font-size: var(--body-font-size-xl);
    font-weight: 200;
    width: 40px;
    background-color: transparent;
    border: none;
    margin: 0;
}

@media screen and (min-width: 1280px) {
    .footer-accordion-link-wrapper button.footer-accordion-button {
        display: none;
    }
}

.footer-accordion-content-wrapper span {
    padding: 16px 0 12px;
    font-weight: 500;
    font-size: var(--body-odd-font-size-xxs);
    line-height: 20px;
    color: var(--color-outer-space) !important;
    letter-spacing: .7px;
    text-transform: uppercase;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .footer-section .site-menu-footer {
        display: flex;
        width: 100%;
        margin: 0 !important;
    }
}

.footer-section .site-menu-footer>li {
    padding: 20px 0 !important;
}

@media screen and (min-width: 1280px) {
    .footer-section .site-menu-footer>li {
        position: relative;
        margin: 0 35px;
        padding: 0 !important;
    }
    .footer-section .site-menu-footer>li:last-child {
        margin-right: 0;
    }
    .footer-section .site-menu-footer>li.footer-accordion.hide-desktop {
        display: none;
    }
}

.footer-accordion-content-wrapper>.footer-accordion-content-inner-wrapper>ul {
    margin: 0;
}

@media screen and (min-width: 1280px) {
    .footer-accordion-content-wrapper>.footer-accordion-content-inner-wrapper>ul {
        padding: 0;
        display: flex;
        flex-flow: column;
    }
}

.footer-accordion-content-wrapper>.footer-accordion-content-inner-wrapper>ul>li {
    margin: 0 !important;
    height: 32px;
}

.footer-accordion-content-wrapper>.footer-accordion-content-inner-wrapper>ul>li>a {
    padding: 0 !important;
    text-transform: unset;
}

@media screen and (min-width: 1280px) {
    .footer-accordion .footer-accordion-content-wrapper {
        position: static;
        padding: 0;
    }
}

/* stylelint-disable */

#userwayAccessibilityIcon {
    display: none;
}

/* stylelint-enable */